{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true
  },
  "rules": {
    "no-console": [0],
    "import/prefer-default-export": [0],
    "max-len": [0],
    "arrow-parens": ["error", "as-needed"],
    "arrow-body-style": ["error", "as-needed", { "requireReturnForObjectLiteral": true }],
    "react/prop-types": [2],
    "react/display-name": [0],
    "react/prefer-es6-class": [1, "always"],
    "class-methods-use-this": [1],
    "comma-dangle": [1, "never"],
    "implicit-arrow-linebreak": [1],
    "react/jsx-uses-react": [1],
    "react/prefer-stateless-function": [1],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-pascal-case": [1, { "allowAllCaps": false, "ignore": [] }],
    "react/jsx-closing-bracket-location": [1],
    "react/jsx-tag-spacing": [1],
    "react/jsx-curly-spacing": [1],
    "react/jsx-boolean-value": [1],
    "jsx-a11y/alt-text": [1],
    "jsx-a11y/img-redundant-alt": [1],
    "jsx-a11y/aria-role": [1],
    "react/no-array-index-key": [2],
    "react/no-string-refs": [2],
    "react/jsx-wrap-multilines": [2],
    "react/self-closing-comp": [2],
    "react/jsx-no-bind": [0],
    "react/require-render-return": [2],
    "wrap-iife": [1, "inside"],
    "func-names": [0],
    "space-before-function-paren": [1, "never"]
  }
}